node_modules/
frontend/node_modules/
cms/node_modules/

dist/
frontend/dist/
cms/build/
cms/.cache/
cms/.tmp/

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.netlify/
.strapi/
